<a href="https://colab.research.google.com/github/Izzan-commits/Algoritma-pemrograman.-/blob/main/Tugas_phyton.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#Materi tentang variable

In [1]:

#contoh variable

x = 5 # x bertipe int
y = "John" # x sekarang bertipe str
print(x)
print(y)

5
John

Variable menggunakan casting

In [2]:
x = str(7)
y = int(3)
z = float(4)
print(x)
print(y)
print(z)

7
3
4.0

In [7]:

#program studi kasus kecocokan berteman

a = input ("masukan nama teman pertama :")
b = input ("masukan nama teman kedua :")

print ("berdasarkan hasil survei :" ,a ," dan " ,b ," adalah teman yang cocok")

masukan nama teman pertama :tegar
masukan nama teman kedua :izzan
berdasarkan hasil survei : tegar  dan  izzan  adalah teman yang cocok

In [6]:
#studi kasus pembagian kue untuk dua orang
a = 50
b = input ("masukan nama teman pertama :")
c = input ("masukan nama teman kedua :")
d = int(a) / 2
print (b,"mendapatkan kue sebanyak", d, "kue. Dan si", c,"mendapatkan kue sebanyak", d)

masukan nama teman pertama :iman
masukan nama teman kedua :kahfi
iman mendapatkan kue sebanyak 25.0 kue. Dan si kahfi mendapatkan kue sebanyak 25.0